@page "/"

@using web_app.Models.Requests
@using web_app.Services
@using web_app.Providers
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthService AuthService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Login</PageTitle>

<div class="card">
    <div class="card-header text-center">
        Login To Your Account
    </div>

    <div class="card-body d-flex flex-row">

        <EditForm Model="@model" OnValidSubmit="HandleLogin">

            <div class="mb-3">
                <label for="usernameInput" class="form-label">
                    Username
                </label>

                <InputText class="form-control"
                           id="usernameInput"
                           @bind-Value="model.Username" />

                <div class="form-text">
                    We'll never share your username with anyone else.
                </div>
            </div>

            <div class="mb-3">
                <label for="passwordInput" class="form-label">
                    Password
                </label>

                <InputText type="password"
                           class="form-control"
                           id="passwordInput"
                           @bind-Value="model.Password" />
            </div>

            <button type="submit" class="btn btn-primary">
                Submit
            </button>

            @if (!string.IsNullOrWhiteSpace(errorMessage))
            {
                <div class="text-danger mt-3">
                    @errorMessage
                </div>
            }

        </EditForm>

    </div>

    <div class="card-footer text-body-secondary">
        Don't have an account?
        <a href="/register">Register here</a>
    </div>
</div>

@code {

    private LoginRequest model = new();

    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        errorMessage = string.Empty;

        var success = await AuthService.LoginAsync(model);

        if (!success)
        {
            errorMessage = "Invalid username or password.";
            return;
        }

        if (AuthStateProvider
            is CustomAuthenticationStateProvider customAuth)
        {
            customAuth.NotifyAuthenticationStateChanged();
        }

        Navigation.NavigateTo("/welcome");
    }
}