@page "/"

@using web_app.Models.Requests
@using web_app.Services
@using web_app.Providers
@using Microsoft.AspNetCore.Components.Authorization

@inject IJSRuntime JS
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Login</PageTitle>

<div class="card">
    <div class="card-header text-center">
        Login To Your Account
    </div>

    <div class="card-body">

        <EditForm Model="@model" OnValidSubmit="HandleLogin" FormName="LoginForm">

            <div class="mb-3">
                <label>Username</label>

                <InputText class="form-control" id="usernameInput" @bind-Value="model.Username" />
            </div>

            <div class="mb-3">
                <label>Password</label>

                <InputText type="password" class="form-control" id="passwordInput" @bind-Value="model.Password" />
            </div>

            <button type="submit" class="btn btn-primary">
                Submit
            </button>

        </EditForm>

        @if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            <div class="text-danger mt-3">
                @errorMessage
            </div>
        }

    </div>

    <div class="card-footer">
        Don't have an account?
        <a href="/register">Register here</a>
    </div>
</div>

<div class="modal fade" id="loginSuccessModal" tabindex="-1" aria-labelledby="loginSuccessModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="loginSuccessModalLabel">
                    Login Success
                </h5>
            </div>

            <div class="modal-body">
                Welcome back!
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" @onclick="GoToWelcome">
                    OK
                </button>

            </div>

        </div>

    </div>

</div>

@code {

    private LoginRequest model = new();
    private string errorMessage = string.Empty;

    private void GoToWelcome()
    {
        Navigation.NavigateTo("/welcome", true);
    }

    private async Task HandleLogin()
    {
        Console.WriteLine("=== LOGIN PAYLOAD ===");
        Console.WriteLine($"Username: {model.Username}");
        Console.WriteLine($"Password: {model.Password}");

        

        var (success, message) = await AuthService.LoginAsync(model);

        if (!success)
        {
            errorMessage = message;
            return;
        }

        if (AuthStateProvider is CustomAuthenticationStateProvider customAuth)
        {
            customAuth.NotifyAuthenticationStateChanged();
        }


        await JS.InvokeVoidAsync(
   "showBootstrapModal",
   "loginSuccessModal");
    }
}