@page "/register"
@attribute [StreamRendering]


@using web_app.Models.Requests
@using web_app.Services

@inject AuthService AuthService
@inject NavigationManager Navigation

<PageTitle>Register</PageTitle>

<div class="card">

    <div class="card-header text-center">
        Create Account
    </div>

    <div class="card-body">

        <EditForm Model="@model" OnValidSubmit="HandleRegister">

            <div class="mb-3">
                <label>Username</label>

                <InputText class="form-control"
                           @bind-Value="model.Username" />
            </div>

            <div class="mb-3">
                <label>Password</label>

                <InputText type="password"
                           class="form-control"
                           @bind-Value="model.Password" />
            </div>

            <button type="submit" class="btn btn-primary">
                Register
            </button>

        </EditForm>

        @if (!string.IsNullOrWhiteSpace(message))
        {
            <div class="mt-3 text-danger">
                @message
            </div>
        }

    </div>

    <div class="card-footer">
        Already have an account?
        <a href="/">Login here</a>
    </div>

</div>

@code {

    private RegisterRequest model = new();

    private string message = string.Empty;

    private async Task HandleRegister()
    {
        message = string.Empty;

        var (success, responseMessage) =
            await AuthService.RegisterAsync(model);

        if (!success)
        {
            message = responseMessage;
            return;
        }

        Navigation.NavigateTo("/", true);
    }
}