@page "/welcome"
@attribute [StreamRendering]

<PageTitle>Welcome</PageTitle>

<div class="card">
    <div class="card-header text-center">
        Welcome to Our App
    </div>
    <div class="card-footer">
        Wanna Leave?
        <a href="/lock-screen">Lock Screen</a>
    </div>
</div>